<a href="https://colab.research.google.com/github/shailendra-repo/Python/blob/main/Historical_Stock_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Historical_Stock_Data.

In [1]:
import pandas as pd
import pandas_datareader
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

import datetime
import datetime as datetime

pd.set_option('display.max_columns',10)
pd.set_option('display.max_rows',10)
pd.set_option('display.notebook_repr_html', False)
pd.set_option('precision',7)
pd.set_option('display.width',78)

### Obtaining historical stock and index data

###Fetching stock data from Yahoo!

In [2]:
# request the previous three years of data for MSFT
# 2012 through 2014
start = datetime.date(2012, 1, 1)
end = datetime.date(2014, 12, 31)

In [3]:
msft = pd.read_csv('msft.csv')
msft

           Date        High         Low        Open       Close      Volume  \
0    2012-01-03  26.9599991  26.3899994  26.5499992  26.7700005  64731500.0
1    2012-01-04  27.4699993  26.7800007  26.8199997  27.3999996  80516100.0
2    2012-01-05  27.7299995  27.2900009  27.3799992  27.6800003  56081400.0
3    2012-01-06  28.1900005  27.5300007  27.5300007  28.1100006  99455500.0
4    2012-01-09  28.1000004  27.7199993  28.0499992  27.7399998  59706800.0
..          ...         ...         ...         ...         ...         ...
749  2014-12-24  48.6399994  48.0800018  48.6399994  48.1399994  11437800.0
750  2014-12-26  48.4099998  47.8199997  48.4099998  47.8800011  13197800.0
751  2014-12-29  47.7799988  47.2599983  47.7000008  47.4500008  14439500.0
752  2014-12-30  47.6199989  46.8400002  47.4399986  47.0200005  16384700.0
753  2014-12-31  47.4399986  46.4500008  46.7299995  46.4500008  21552500.0

      Adj Close
0    21.7074871
1    22.2183475
2    22.4453964
3    22.7940750
4    22.4940453
..          ...
749  42.4871635
750  42.2576942
751  41.8781891
752  41.4986687
753  40.9956131

[754 rows x 7 columns]

In [4]:
# request the previous three years of data for MSFT
# 2012 through 2014
import pandas_datareader
start = datetime.date(2012, 1, 1)
end = datetime.date(2014, 12, 31)

# get data for MSFT
msft = pandas_datareader.DataReader('MSFT', "yahoo", start, end)
msft[:5]

                  High         Low        Open       Close      Volume  \
Date
2012-01-03  26.9599991  26.3899994  26.5499992  26.7700005  64731500.0
2012-01-04  27.4699993  26.7800007  26.8199997  27.3999996  80516100.0
2012-01-05  27.7299995  27.2900009  27.3799992  27.6800003  56081400.0
2012-01-06  28.1900005  27.5300007  27.5300007  28.1100006  99455500.0
2012-01-09  28.1000004  27.7199993  28.0499992  27.7399998  59706800.0

             Adj Close
Date
2012-01-03  21.7074871
2012-01-04  22.2183475
2012-01-05  22.4453964
2012-01-06  22.7940750
2012-01-09  22.4940453

In [5]:
#!pip install pandas-datareader --upgrade

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.1.5)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.5.30)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)